*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

.container{
    width: 1140px;
    margin: 0 auto;
}


.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    
}
.header-item{
    padding: 20px;
    padding-bottom: 70px;
    text-style: bold;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.header-img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    
}

.header-btn{
    background-color: #FFD163;
    width: 90px;
    height: 30px;
    border: none;
    margin-right: 70px;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.box{
    padding-left: 80px;
    
}
.flex-box{
    background-image:  url(./perspaleta1_0020\ 2\ \(1\).png),url(./Path\ 1.png);
    background-repeat: no-repeat;
    background-size: 440px, 400px;
    background-position: 85%,85%;
    padding-top: 120px;
    padding-bottom: 180px;
}
.box-title{
  font-size: 70px;
  padding-bottom: 10px;
}
.box-text{
    font-size: 30px;
    padding-bottom: 40px;
}
.header-link{
    color: black;
}
.header-logo{
      width: 50px;
      height: 50px;
}

.box-btn{
    background-color: #FFD163;
    width: 130px;
    height: 50px;
    border: none;
    margin-right: 70px;
    color: white;
    border-radius: 10px;
    font-size: 17px;
}

.box-text{
    color: grey;
}

.main-title{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 100px;
}
.main-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-image: url(/Path\ 22.png), url(/Ellipse\ 5.png);
    background-repeat: no-repeat;
    background-position-x: left, 94%;
    background-position-y: 60%;
    background-size: 53%, 35%;
    padding-bottom: 200px;
    
}
.main-left{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: #E2CC97;
    
    margin-top: 120px;
}

.main-left-title{
    font-size: 35px;
    color: #884400;
    padding-bottom: 10px;
    text-align: center;
}

.main-left-text{
    color: #884400;
    font-size: 20px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.main-left{
    border-radius: 7px;
        padding-top: 150px;  
}
.main-left-img{
    position: absolute;
    top: 40%;
    left: 37.5%;
}
.picture{
    position: absolute;
    left: 45%;
}
.image{
    position: absolute;
    left: 52.5%;
    top: 39%;
}
.end-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.end-title{
    font-size: 40px;
    padding-bottom: 10px;
}

.end-text{
    font-size: 25px;
}

.sector-foot-img{
    width: 30px;
    height: 30px;
}

.sector{
    margin-top: 90px;
}

.sector-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: whitesmoke;
}
.sector-item{
    padding: 5px;
    color: grey;
}

.sector-foot-left{
    display: flex;
    justify-content: space-between;

}

.sector-foot{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding-top: 25px;color: grey;
    font-size: 10px;
}

.sector-btn{
    margin-left: 140px;
    background-color: yellow;
    border: none;
    width: 90px;
    height: 37px;
    font-size: 22 px;
    border-radius: 5px;
}

.sector-foot-text{
    margin-top: 10px;
}
.sector-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sector-img{
    width: 300px;
}
.sector{
    padding: 10px;
    margin-left: 20px;
}

.sectoor-btn{
    margin-left: 500px;
    margin-top: 50px;
    background-color: #F0C55D;
    border: none;
    width: 130px;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}
    
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.text-title{
    font-size: 40px;
    padding-bottom: 7px;
}

.text-text{
    color: grey;
    font-size: 26px;
}

.chartt{
    background-color: whitesmoke;
    width: 250px;
    color: grey;
    padding-top: 120px;
    margin-right: 40px;
}
.chart-title{
    color: black;
    padding-bottom: 33px;
    padding-left: 10px;
}
.chart-text{
    padding-left: 10px;
    padding-bottom: 10px;
}

.chart-flex{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 580px;
    padding: 10px;


}
.char{
    
    background-image: url(/5227\ 1.png);
    background-repeat: no-repeat;
    background-size: 60%;
    
}

.chartt{
    background-image: url(/Vector\ \(3\).png),url(/Vector\ \(2\).png),url(/Vector\ \(1\).png), url(/Ellipse\ 13.png);
    background-repeat: no-repeat;
    background-size: 20%,14%,10%,22%;
    background-position-x: 10%,13%,15%,8%;
    background-position-y: 19%,23%,23%,10%;
}


.title{
    
}

.title-text{
    color: grey;
    font-size: 30px;
    padding: 5px;
    padding-bottom: 20px;
}

.title-btn{
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #884400;
    border: none;
}


.title-flex{
    background-image: url(/teacher.png),url(/Path\ 85.png);
    background-repeat: no-repeat;
    background-size: 30%,50%;
    background-position-x: 90%,right;
    background-position-y: 90%,top;
    padding-top: 115px;
}


input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
    
}

.page-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.page-title{
    font-size: 70px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: grey;
}

.page-text{
  font-size: 30px;
  padding-left: 20px;
}

.page-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;
}

.form-title{
    font-size: 30px;
    padding-bottom: 8px;
}
.form{
    padding-bottom: 50px;
}

.btn{
    background-color: yellow;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 468px;
}
.form-input{
    width: 530px;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;

    background-image: url(/Path\ 99.png) ;
    background-repeat: no-repeat;
    background-position-y: top;
    
}

.footer-img{
   height: 40px;
    width: 40px;
}

.footer-item{
    font-size: 23px;
    padding-bottom: 12px;
    color: black;
}

.footer-link{
    color: grey;
    padding-top: 2px;
    font-size: 20px;
}
.list-list{
    margin-top: 37px;
}