*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}


.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.header-item{
    padding: 20px;
    padding-bottom: 70px;
    text-style: bold;
    color: black;
    font-size: 20px;
}

.header-img{
    width: 30px;
    height: 30px;
    margin-left: 55px;
    width: 20px;
    height: 20px;
}

.header-btn{
    background-color: #FFD163;
    width: 90px;
    height: 30px;
    border: none;
    margin-right: 70px;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.box{
    padding-left: 80px;
    padding-bottom: 180px;
}
.box-title{
  font-size: 70px;
  padding-bottom: 10px;
}
.box-text{
    font-size: 30px;
    padding-bottom: 40px;
}
.header-link{
    color: black;
}
.header-logo{
      width: 50px;
      height: 50px;
}
.box{
    background-image:  url(./perspaleta1_0020\ 2\ \(1\).png),url(./Path\ 1.png);
    background-repeat: no-repeat;
    background-size: 440px, 400px;
    background-position: 85%,85%;
}

.box-btn{
    background-color: #FFD163;
    width: 130px;
    height: 50px;
    border: none;
    margin-right: 70px;
    color: white;
    border-radius: 10px;
    font-size: 17px;
}

.box-text{
    color: grey;
}

.main-title{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.main-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-left{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: #E2CC97;
    margin-top: 120px;
}

.main-left-title{
    font-size: 35px;
    color: #884400;
    padding-bottom: 10px;
    text-align: center;
}

.main-left-text{
    color: #884400;
    font-size: 20px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.main-left{
    border-radius: 7px;
    background-image: url(/perspaleta1_0031.png);
    background-repeat: no-repeat;
    background-position: relative;   
}
.end-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.end-title{
    font-size: 40px;
    padding-bottom: 10px;
}

.end-text{
    font-size: 25px;
}

.sector-foot-img{
    width: 30px;
    height: 30px;
}

.sector{
    margin-top: 90px;
}

.sector-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sector-item{
    padding: 5px;
    color: grey;
}

.sector-foot-left{
    display: flex;
    justify-content: space-between;

}

.sector-foot{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding-top: 25px;color: grey;
    font-size: 10px;
}

.sector-btn{
    margin-left: 140px;
    background-color: yellow;
    border: none;
    width: 90px;
    height: 37px;
    font-size: 22 px;
    border-radius: 5px;
}

.sector-foot-text{
    margin-top: 10px;
}
.sector-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sector-img{
    width: 300px;
}
.sector{
    padding: 10px;
    margin-left: 20px;
}

.sectoor-btn{
    margin-left: 500px;
    margin-top: 50px;
    background-color: #F0C55D;
    border: none;
    width: 130px;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}
    
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.text-title{
    font-size: 40px;
    padding-bottom: 7px;
}

.text-text{
    color: grey;
    font-size: 26px;
}

.chartt{
    background-color: whitesmoke;
    width: 250px;
    color: grey;
    padding-top: 120px;
    margin-right: 150px;
}
.chart-title{
    color: black;
    padding-bottom: 33px;
    padding-left: 10px;
}
.chart-text{
    padding-left: 10px;
    padding-bottom: 10px;
}

.chart-flex{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 900px;
    padding: 10px;

}